h1 {
  color: rgb(0, 93, 129);
}

h2 {
  font-style: italic;
  color: rgb(113, 196, 230);
}

p {
  color: slategray;
}

body {
  background-color: lightgoldenrodyellow;
  text-align: center;
}

img {
  width: 400px;
  height: 300px;
}